<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<img
				src="https://i.pinimg.com/originals/5c/d4/63/5cd463f3c2da16a7e5b8cbcb96382128.jpg"
				class="img-responsive center-block" width="300" height="300"
				alt="Logo" />

			<div class="col-md-6 col-md-offset-4">
				<form autocomplete="off" action="#" th:action="@{/expense}"
					th:object="${expenseForm}" method="post" class="form-horizontal"
					role="form">
					<h2>Agregar un gasto</h2>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('category')}"
								th:errors="*{category}" class="validation-message"></label> <br>
							<select th:field="*{category}">
								<option value=""></option>
								<option th:each="category : ${categories}"
									th:value="${category.id}" th:utext="${category.description}" />
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}" class="validation-message"></label> <input
								type="text" th:field="*{description}" placeholder="Descripcion"
								class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="number" step="0.01" min=0 th:field="*{price}"
								placeholder="Monto" class="form-control" /> <label
								th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
								class="validation-message"></label> <input type="date"
								th:field="*{date}" placeholder="Fecha del gasto"
								class="form-control" />
						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Registrar
								gasto</button>
						</div>
					</div>

					<span th:utext="${successMessage}"></span>
					<span th:utext="${failMessage}"></span>


				</form>
				<form th:action="@{/user/home}" method="get">
					<button class="btn btn-md btn-warning btn-block" name="inicio"
							type="Submit">Volver</button>
				</form>
				<form th:action="@{/logout}" method="get">
					<button class="btn btn-md btn-danger btn-block" name="registration"
							type="Submit">Logout</button>
				</form>
			</div>

		</div>
	</div>


</body>
</html>